.calendar-container{
    display: flex;

}
.date-picker-button{
    font-size: 14px;
    cursor: pointer;
    display: block;
    color: var(--calender-checked-background-color);
    background-color: transparent;
    border: none;
}
.custom-calendar {
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-sizing: border-box;

}

.react-calendar{
    width: 254px;
    background-color: var(--calendar-background-color);
    border: 1px solid var(--calendar-outside-border-color);
}
.react-calendar__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    :hover{
        color: var(--calender-checked-background-color);
    }
}
.react-calendar__month-view__days{

}
.react-calendar__navigation button{
    color: var(--calendar-current-month-text-color);
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

.react-calendar__month-view__weekdays__weekday{
    display: flex;
    justify-content: center;
}
.react-calendar__month-view__weekdays__weekday abbr{
    text-decoration: none;
    color: var(--calendar-weeks-text-color);
    font-size: 14px;
    font-weight: 500;
}
.react-calendar__tile {
    background: transparent;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

.react-calendar__tile abbr {

}
.react-calendar__tile button{
    :hover{
        background-color: var(--calender-checked-background-color);
    }
}
.react-calendar__tile--now {
    color:var(--calender-now-color);
    background-color: var(--calendar-now);
    & abbr{
        color: var(--calender-now-color);
    }

}

.react-calendar__month-view__days__day--neighboringMonth abbr{
    color: var(--calendar-not-month-color) ;
}
.react-calendar__month-view__days__day{
    color: var(--calendar-current-month-text-color);
}
.react-calendar__year-view__months__month{
    color: var(--calendar-current-month-text-color);
}
.react-calendar__decade-view__years__year{
    color: var(--calendar-current-month-text-color);
}
.react-calendar__century-view__decades__decade{
    color: var(--calendar-current-month-text-color);
}

.react-calendar__month-view__days{
    display: flex;
    margin-top: 11px;
}
.react-calendar__navigation button {
    background: none;
}

.react-calendar__tile--active {
    background: var(--calender-checked-background-color);
    & abbr{
        color: var(--calender-now-color);
    }

}